<div class="glaccounts-container container-fluid">
  <h3>Accounts</h3>
  <div class="row">
    <div class="col">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of data.accounts">
            <td>{{a.number}}</td>
            <td>{{a.name}}</td>
            <td>{{a.type}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form [formGroup]="accountForm">
        <h3>Add New Account</h3>
        <mat-form-field>
          <input matInput placeholder="Account Number" formControlName="number">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Account Name" formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Account Type" formControlName="type">
            <mat-option [value]="'Asset'">Asset</mat-option>
            <mat-option [value]="'Liability'">Liability</mat-option>
            <mat-option [value]="'Income'">Income</mat-option>
            <mat-option [value]="'Expense'">Expense</mat-option>
          </mat-select>
        </mat-form-field>&nbsp;&nbsp;
        <button mat-raised-button color="primary" (click)="addAccount()">Add</button>
      </form>
    </div>
  </div>
</div>