.app-container {
  .header-container {
    height: 100px;
    padding: 20px 10px;
    color: #0099cc;
    background-color: #404040;
    border-bottom: 4px solid #ff9900;
  }
  .logo-box {
    float: left;
  }
  .logo-box img {
    height: 50px;
  }
  .title-box {
    margin-left: 70px;
  }
  mat-sidenav-container {
    background: #fff;
    min-height: calc(100vh - 165px);
  }
  mat-sidenav {
    border: none;
    padding: 10px 10px;
    background-color: #404040;
    border-right: 4px solid #0099cc;
  }
  mat-sidenav-content {
    height: calc(100vh - 175px);
    overflow: auto;
    padding: 5px;
  }
  .main-content {
    // height: 100%;
  }
  .footer-container {
    height: 65px;
    padding: 20px 10px;
    color: #0099cc;
    font-weight: bold;
    background-color: #404040;
    border-top: 4px solid #ff9900;
  }

  .footer-container a {
    color: #ff9900;
    text-decoration: none;
  }
  .footer-container a:hover {
    color: #0099cc;
  }
}
